    /* fonts */
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Poppins:wght@100&display=swap');
    
    header{
        /* font-family: 'poppins', sans-serif; */
        background-color: black;
        color: white;
        padding: 10px;
        /* margin: auto; */
    }
    